<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %} | paste.misterio.me</title>
    <meta name="description" content="{% block description %}Simple FLOSS paste hosting service{% endblock description %}"/>
    <meta name="view-transition" content="same-origin" />
    <script src="/assets/{{ version() }}/turbo.js"></script>
    <link rel="icon" href="data:,"> <!-- Disable favicon -->
    <link rel="stylesheet" href="/assets/{{ version() }}/style.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><a href="/p">paste.misterio.me</a></li>
      </ul>
      <ul>
        {% block auth %}
        {% if session.creator %}
          <li><a href="/u/{{ session.creator }}">u/{{ session.creator }}</a></li>
          <li><a href="/logout">Log out</a></li>
        {% else %}
          <li><a href="/login">Log in</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
        {% endblock auth %}
      </ul>
    </nav>

    <main class="container">
      {% block flash %}
      {% if flash %}
        <div id="flash" class="{{ flash.kind }}" data-turbo-temporary>
          <sup onclick="document.getElementById('flash').remove()">
            {{ flash.message }}
          </sub>
        </div>
      {% endif %}
      {% endblock flash %}

      {% block content %}
      {% endblock content %}
    </main>

    <footer class="container">
      <p>
        <a href="//github.com/misterio77/paste.misterio.me/">Available under AGPLv3</a>
      </p>
      <p>Served from: <em>{{ exec_path() }}</em></p>
    </footer>
  </body>
</html>
