// Import full Pico source code
@use "pico/pico";
// Customize it
@use "colors";

// Import code highlighting
@use "highlight";

// Disable link on current page
[aria-current=page] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: unset;
}

// Hide hotwire's aria-busy
html[aria-busy="true"]::before {
  display: none !important;
}

// Recolor hotwire's progress bar
.turbo-progress-bar {
  background-color: var(--pico-primary);
}

// Style navbar
body>nav {
  box-shadow: var(--pico-card-box-shadow);
  background-color: var(--pico-card-sectioning-background-color);
}

// Style footer
body>footer {
  border-top: 1px solid var(--pico-primary);
  padding-top: 2rem;
  p {
    font-size: 80%;
  }
}

button {
  // Red-colored delete button
  &.delete {
    background-color: var(--pico-error-color);
    border-color: var(--pico-error-color);
  }
}

#flash {
  text-align: center;
  padding-bottom: 3rem;
  sup {
    background-color: var(--pico-primary);
    color: var(--pico-primary-inverse);
    font-weight: bold;
    border-radius: 0.2rem;
    margin: 0.2rem;
    padding: 0.4rem 0.5rem;
  }
  &.success sup {
    background-color: var(--pico-success-color);
  }
  &.error sup {
    background-color: var(--pico-error-color);
  }
  &.warning sup {
    background-color: var(--pico-warn-color);
  }
}

textarea.code {
  resize: vertical;
  font-family: var(--pico-mono-font-family);
}
