<!DOCTYPE html>
<html lang="pt">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %} | paste.misterio.me</title>
    <link rel="icon" href="data:,"> <!-- Disable favicon -->
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body>
    <nav class="container-fluid">
      <ul>
        <li><a href="/">paste.misterio.me</a></li>
      </ul>
      <ul>
        {% block auth %}
        {% if session.creator %}
          <li><a href="/~{{ session.creator }}">~{{ session.creator }}</a></li>
          <li><a href="/logout">Log out</a></li>
        {% else %}
          <li><a href="/login">Log in</a></li>
          <li><a href="/register">Register</a></li>
        {% endif %}
        {% endblock auth %}
      </ul>
    </nav>

    <main class="container">
      {% block flash %}
      {% if flash %}
        <div id="flash" class="{{ flash.kind }}">
          <sup onclick="document.getElementById('flash').remove()">
            {{ flash.message }}
          </sub>
        </div>
      {% endif %}
      {% endblock flash %}

      {% block content %}
      {% endblock content %}
    </main>

    <footer class="container">
      <p>
        <a href="/">paste.misterio.me</a>
        -
        <a href="//sr.ht/~misterio/paste.misterio.me/">Source code</a>
      </p>
      <p>Served from: <em>{{ exec_path() }}</em></p>
    </footer>

    {% block scripts %}
    {% endblock scripts %}
  </body>
</html>
